<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Audio Permission for android 13 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlissfulVibes"
        tools:targetApi="31">
        <activity
            android:name=".Activity.RecentPlayList"
            android:exported="false" />
        <activity
            android:name=".Activity.About"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Activity.Help"
            android:exported="false" />
        <activity
            android:name=".Activity.PlaylistSongView"
            android:exported="false"
            android:theme="@style/Theme.BlissfulVibes" />
        <activity
            android:name=".Activity.PlayMusicStreamActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ViewSongListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FrontActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashBoard"
            android:exported="false" />
        <activity
            android:name=".AddSongPlaylistActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".PlaylistMusicListActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".BaseSetting"
            android:exported="false" />
        <activity
            android:name=".Activity.AppSetting"
            android:exported="false" />
        <activity
            android:name=".PlayNextOperation"
            android:exported="false" />
        <activity
            android:name=".FavoriteMusic"
            android:exported="false" />
        <activity
            android:name=".PlayList"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".Service.MusicServiceOnline"
            android:exported="false"
            android:stopWithTask="true"
            android:foregroundServiceType="mediaPlayback"
        android:permission="android.permission.BIND_MEDIA_SESSION_SERVICE">
        <intent-filter>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent-filter>
    </service>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.song.nafis.nf.TuneLyf.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>